/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --text-color: #707070;
    --toggle-color: #ddd;
    --sidebar-color: #fff;
    --primary-color: #5cb85c;
    --primary-color-light: #f6f5ff;
}

body {
    background-color: var(--body-color);
}

::selection {
    color: #fff;
    background-color: var(--primary-color);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

ul li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

select {
    font: inherit;
    color: inherit;
    margin: 0;
    text-transform: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

nav {
    display: block;
}

.row::before,
.navbar::before,
.container::before,
.header_logo {
    content: ' ';
    display: table;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

image {
    border: 0;
    overflow: clip;
    vertical-align: middle;
    overflow-clip-margin: content-box;
}

input {
    border: 0;
    outline: none;
}

div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}